.speech{
    font: icon;
    font-size: medium;
    color: black;
}
.direction{
    font: italic;
    font-size: small;
    color: black;
    background-color: aqua;
}
.direction:hover{
    text-shadow: 2px 2px 2px red;
    background-color: bisque;
    color: red;
    filter: blur(0.5px);
}
.fa,fa-flag,fa-flag-olstt{
 width: 20px;
 height: 20px;
}
.ZAMA{
    font-style: italic ;
    font-size: 10px;
    color: blue;
} 
.OHANO{
    font-style:oblique ;
    font: size 10px;
    color: brown;
}
.OHANO:hover{
    text-shadow: 2px 2px 2px red;
    background-color: black;
    color: red;
    filter: blur(0.5px);
    font-size: 25px;
    border-style: solid;
    border-color: yellow;

}
.ZAMA:hover{
    text-shadow: 2px 2px 2px red;
    background-color: black;
    color: red;
    font-size: 25px;
    filter: blur(0.5px);
    border-style: solid;
    border-color: yellow;
}
#playname{
    color:chocolate;
}
table,td,th{
    border:1px solid black;
}
table{
    color: darkorange;
    border-collapse:collapse;
    width: 75%;
    margin-left: 100px;
    text-align: center;
    padding: auto;
    padding: 15px 15px 15px 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:orange;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:pink;
  }
  
  .active {
    background-color:violet;
  }
tr:nth-child(even){background-color: aliceblue;}
